* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Sección inicio*/
h1 {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 3rem;
  padding: 1.2rem;
  margin-bottom: 0;
}

.body-inicio header h1 img {
  position: absolute;
  top: 1.5rem;
  left: 5rem;
}

.icono,
.titulo {
  display: none;
}

.body-inicio header nav,
.container-fluid {
  padding: 0;
}

ul {
  text-align: center;
  background: rgb(174, 174, 174);
  width: 100%;
  display: flex;
  justify-content: center;
}

ul li {
  padding: 1em;
  font-size: 1rem;
  margin: 0px 30px 0px 30px;
}

.color-letras {
  color: white;
}

.color-letras:hover {
  color: #dfe6e9;
}

.color-letras:active {
  color: #636e72;
}

.body-inicio main section h3 {
  text-align: center;
  background: rgb(70, 69, 155);
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
}

.body-inicio main p {
  margin: 1.2rem 5rem;
}

.contenedor-img {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ropa {
  width: 800px;
  margin-top: 1rem;
  border-radius: 1rem;
}

.wpp {
  width: 3rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

footer {
  text-align: center;
  background: rgb(70, 69, 155);
  color: white;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  font-weight: bolder;
}
/**/

/*Sección Productos*/
.body-productos nav div img,
.body-productos nav div h1 {
  display: none;
}

.body-productos header nav {
  padding: 0;
}

.body-productos main section h3 {
  text-align: center;
  background: rgb(70, 69, 155);
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.contenedor-prendas {
  margin: 0 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 3rem;
}

.contenedor-prendas div {
  border: 1px solid rgb(174, 174, 174);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-prendas p {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  background: rgb(174, 174, 174);
  color: white;
  width: 100%;
  margin-bottom: 0;
}

.prendas {
  width: 100%;
  height: 100%;
}

.body-productos main section .contenedor-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-productos main section .contenedor-ubicacion .text-ubi {
  background: rgb(70, 69, 155);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

/**/

/*Sección pagos*/
.body-pagos nav div img,
.body-pagos nav div h1 {
  display: none;
}

.body-pagos header nav {
  padding: 0;
}

.body-pagos main section .texto-pagos {
  text-align: center;
  background: rgb(70, 69, 155);
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.body-pagos main section p b {
  display: block;
  text-align: center;
}

.contenedor-flex {
  display: flex;
  justify-content: center;
}

.contenedor-pagos {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  border-radius: 1rem;
  /* padding: 1rem; */
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contenedor-pagos h3 {
  margin: 1rem 0;
}

.contenedor-pagos .img-mediosDePagos {
  width: 6rem;
  margin: 0.5rem;
  border-radius: 10px;
  height: 3.2rem;
}
/**/

/*Sección envíos */
.body-envios nav div img,
.body-envios nav div h1 {
  display: none;
}

.body-envios header nav {
  padding: 0;
}

.body-envios main h3 {
  text-align: center;
  background: rgb(70, 69, 155);
  color: white;
  padding: 1rem;
}

.texto-envios {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
}

.parrafo-envios {
  text-align: center;
}

.contendor-img-andreani {
  display: flex;
  justify-content: center;
}

.img-andreani {
  width: 15rem;
  position: relative;
  bottom: 38px;
}

.contenedor-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo-footer {
  width: 2rem;
  margin: 0.4rem;
}
/**/

/*Sección contacto*/
.body-contacto nav div img,
.body-contacto nav div h1 {
  display: none;
}

.body-contacto header nav {
  padding: 0;
}

.body-contacto main h3 {
  text-align: center;
  background: rgb(70, 69, 155);
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.body-contacto main p {
  text-align: center;
}

.contenedor-form {
  display: flex;
  justify-content: center;
}

form div {
  margin-bottom: 2rem;
  padding: 1rem;
  width: 30rem;
  background: rgb(174, 174, 174);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div label {
  color: white;
}

form input {
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  width: 60%;
}

form select {
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0.3rem;
  border: none;
}

form textarea {
  border-radius: 0.5rem;
  margin-top: 0.4rem;
  border: none;
  width: 60%;
  padding: 0.5rem;
}

input[type="submit"] {
  background: rgb(70, 69, 155);
  color: white;
  border-radius: 10rem;
  width: 40%;
}

.body-contacto .contenedor-footer {
  position: static;
}

h3 {
  font-size: 1.2rem;
}

/**/

/*Media queris*/

@media screen and (max-width: 1600px) {
  .ropa {
    width: 400px;
  }
}

/*Tablet*/
@media screen and (max-width: 1024px) {
  /*Seccíon Productos*/
  .contenedor-prendas {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  /*Seccíon Inicio*/
  .ropa {
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .body-inicio header h1 {
    display: none;
  }

  .body-inicio header nav div img,
  .body-inicio header nav div h1 {
    display: block;
    font-size: 1.5rem;
  }

  .body-productos header nav div img,
  .body-productos header nav div h1 {
    display: block;
    font-size: 1.5rem;
  }

  .body-pagos header nav div img,
  .body-pagos header nav div h1 {
    display: block;
    font-size: 1.5rem;
  }

  .body-contacto header nav div img,
  .body-contacto header nav div h1 {
    display: block;
    font-size: 1.5rem;
  }

  .body-envios header nav div img,
  .body-envios header nav div h1 {
    display: block;
    font-size: 1.5rem;
  }

  .container-fluid {
    background-color: black;
    padding: 16px 0 10px 0;
  }

  .navbar-toggler {
    background-color: white;
    margin-right: 8px;
    padding: 0 0.3rem;
  }

  ul {
    background: black;
  }
}

/*Mobile*/
@media screen and (max-width: 768px) {
  /*Sección inicio*/

  .body-inicio header h1 {
    display: none;
  }

  .container-fluid {
    background-color: black;
    padding: 16px 0 10px 0;
  }

  .navbar-toggler {
    background-color: white;
    margin-right: 8px;
    padding: 0 0.3rem;
  }

  .menu-icon {
    background-image: url(../assets/menu.png);
    font-size: 1rem;
  }

  .body-inicio main section h3,
  main section h3 {
    font-size: 1rem;
    position: static;
  }

  .body-inicio main p {
    margin: 1rem;
    font-size: 0.9rem;
  }

  .contenedor-img {
    display: grid;
    gap: 0;
  }

  .ropa {
    width: 80vw;
    box-shadow: none;
  }

  .contenedor-footer {
    position: static;
  }
  /*-------------------*/

  /*Sección Productos*/
  ul {
    background: black;
  }

  .contenedor-text {
    margin: 6rem 0 1rem;
  }

  main section div h4 {
    font-size: 1rem;
    position: static;
    display: block;
  }

  .contenedor-prendas {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  iframe {
    width: 90%;
  }

  /*----------------------*/

  /*Sección Contacto*/
  .body-contacto main section p {
    font-size: 0.9rem;
  }

  form div {
    width: 80vw;
  }

  form input,
  form textarea {
    width: 85%;
  }

  form input,
  form textarea::placeholder {
    font-size: 0.9rem;
  }

  /*---------------------*/

  /*Sección Envíos*/
  .texto-envios {
    font-size: 1rem;
  }

  .parrafo-envios {
    font-size: 0.9rem;
    margin: 0 1.2rem;
  }

  /*----------*/

  /*Seccíon Pagos*/
  .contenedor-pagos .img-mediosDePagos {
    width: 3rem;
    height: 2rem;
  }

  .body-pagos .contenedor-footer {
    position: absolute;
    width: 100%;
  }

  /*-----------*/
}
