@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
};

@mixin grid($grid-column, $gap){
    display: grid;
    grid-template-columns: $grid-column;
    gap: $gap;
}