/*Footer*/

.body-contacto .contenedor-footer {
  position: map-get($map: $estilo-primario, $key: position-primario);
}

.contenedor-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  text-align: map-get($map: $estilo-primario, $key: texto-centrado);
  background: $color-primario;
  color: nth($list: $colores, $n: 1);
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  font-weight: bolder;
  a {
    .logo-footer {
      width: 2rem;
      margin: 0.3rem 0.5rem 1rem;
      transition: all 0.3s;
      &:hover{
        width: 2.6rem;
        margin: 0.8;
        transition: 0.3s;
      }
    }
  }
}
